parameters:
	level: 9
	paths:
		- examples
		- src
		- tests
	checkFunctionNameCase: true
	checkInternalClassCaseSensitivity: true
	checkTooWideReturnTypesInProtectedAndPublicMethods: true
	checkUninitializedProperties: true
	checkDynamicProperties: true
	reportWrongPhpDocTypeInVarTag: true